@import '_variables';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  background-color: $bg-color;
}

header {
  background-color: $main-color;
  color: $light-color;
  padding: 2vw 6vw;
  min-height: 27vw;
}

main {
  color: #4c4c4c;
}

.user-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4vw;
}

.nav-title-wrapper {
  position: relative;
}

h1 {
  text-align: right;
  font-size: 8.5vw;
}

h2 {
  font-size: 7vw;
  margin: 1em;
}

.menu-toggle {
  position: absolute;
  top: -4vw;
  left: 1vw;
}

nav {
  width: 100%;
  text-align: left;
}

.fa-calendar-day,
.fa-calendar-plus {
  color: $accent-color;
  margin: 0.1em;
}

button {
  border: none;
  background: none;
  color: $light-color;
  font-size: 8vw;
  cursor: pointer;
}

nav button {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 5vw;
  color: #969696;
  margin: 5vw 1vw;
  transition: color 0.3s;
}

nav button:hover {
  color: $accent-color;
}

.fa-user {
  font-size: 3vw;
  margin: 0.3em;
}

.fa-caret-down,
.username {
  font-size: 3vw;
  color: $accent-color;
  margin: 0.2em;
  cursor: pointer;
}

.username:hover ~ .fa-caret-down {
  transform: translateY(2px);
}

.customer-bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking-container {
  margin: 1vw 1vw 3vw 1vw;
}

.active {
  color: $light-color;
  pointer-events: none;
}

.hidden {
  display: none;
}
