@import '_variables';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  background-color: $bg-color;
}

header {
  background-color: $main-color;
  color: $light-color;
  padding: 2vw 6vw;
  min-height: 27vw;
}

main {
  color: #4c4c4c;
}

.user-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: first baseline;
  margin-bottom: 4vw;
}

.nav-title-wrapper {
  position: relative;
}

h1 {
  text-align: right;
  font-size: 8.5vw;
}

h2 {
  font-size: 6vw;
  margin: 1em 1em 0.5em 1em;
}

.menu-toggle {
  position: absolute;
  top: -4vw;
  left: 1vw;
}

nav {
  width: 100%;
  text-align: left;
}

.fa-calendar-day,
.fa-calendar-plus {
  color: $accent-color;
  margin: 0.1em;
}

button {
  border: none;
  background: none;
  color: $light-color;
  font-size: 8vw;
  cursor: pointer;
}

.nav-button {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 5vw;
  color: #969696;
  margin: 5vw 1vw;
  transition: color 0.3s;
}

.nav-list {
  display: none;
}

.nav-list.open {
  display: block;
}

nav button:hover {
  color: $accent-color;
}

.fa-user {
  font-size: 3vw;
  margin: 0.3em;
}

.fa-caret-down,
.username {
  font-size: 3vw;
  color: $accent-color;
  margin: 0.2em;
  cursor: pointer;
}

.username:hover ~ .fa-caret-down {
  transform: translateY(2px);
}

.dropdown {
  width: 45vw;
  height: 23vw;
  padding: 1.5vw;
  border: 1px solid #dc6457;
  background-color: $main-color;
  position: absolute;
  top: 15vw;
  z-index: 1;
  text-align: center;
  font-size: 4vw;
}

.customer-bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking-container {
  margin: 1vw 1vw 3vw 1vw;
}

.single-booking {
  background-color: #efefef;
  width: 88vw;
  height: 20vw;
  margin: 2vw;
  padding: 2vw;
  display: flex;
  align-items: center;
  font-size: 3.5vw;

  h4, p {
    display: inline;
  }
}

.list-icon {
  font-size: 11vw;
  margin-right: 5vw;
}

.new-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4vw;
  text-align: center;
  font-size: 3.5vw;
}

input {
  margin: 3.5vw;
}

.submit {
  font-size: 3vw;
  background-color: $main-color;
  border: 1px solid $accent-color;
  border-radius: 1vw;
  padding: 2vw;
  margin: 3vw;
}

.availability-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6vw;

  article {
    height: 100vw;
    width: 85vw;
    background-color: #ffffff;
    color: #5c5c5c;
    box-shadow: 0px 0px 6px #9f9f9f;
    margin-bottom: 2em;
  }
}

img {
  width: 100%;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  height: 40vw;
}

.image-overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 46vw;
  padding: 5vw;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.3);
  transition: background-color 0.2s;
}

.image-overlay:hover {
  background-color: rgba(0,0,0,0.0);
}

.more-info {
  font-size: 12vw;
  align-self: start;
}

.overlay-text {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

h3 {
  font-size: 3.5vw;
}

.article-text {
  padding: 3vw;
}

.name-text {
  font-weight: 500;
  font-size: 5vw;
  margin: 3vw;
}

.info-text {
  color: #a5a5a6;
  font-size: 3.5vw;
  margin-bottom: 2vw;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1;
  position: fixed;
  left: 15vw;
  top: 10vw;
  background-color: $light-color;
  width: 70vw;
  height: auto;
  border-radius: 10px;
  border: 3px solid $accent-color;
  padding: 5vw;

  img {
    border-radius: 10px;
  }
}

.close-modal {
  background: none;
  border: none;
  color: $main-color;
  margin-bottom: 3vw;
  align-self: flex-end;
  font-size: 6vw;
  font-weight: 600;
}

.error-message {
  color: $accent-color;
}

.success-msg {
  color: green;
}

.active {
  color: $light-color;
  pointer-events: none;
}

.hidden {
  display: none;
}

@media screen and (min-width: 600px) {

  .booking-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .booking-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .single-booking {
    width: 40vw;
    font-size: 2.5vw;
  }

  .availability-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 1em 1em 1em;
    margin-top: 2vw;

    article {
      height: 50vw;
      width: 40vw;
      margin: 1vw;
    }
  }

  .image-wrapper {
    height: 20vw;
  }

  .image-overlay {
    height: 23vw;
    padding: 2.5vw;
  }

  .more-info {
    font-size: 6vw;
  }

  .name-text {
    font-size: 2.5vw;
    margin: 1vw;
  }

  .info-text {
    font-size: 1.75vw;
  }

  .article-text {
    padding: 1vw;
  }

  h2 {
    font-size: 3.5vw;
  }

  h1 {
    font-size: 5.5vw;
    display: inline;
  }

  .user-wrapper * {
    font-size: 2vw;
  }

  .nav-title-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
  }

  header {
    min-height: 22vw;
    padding: 2vw 3vw 3vw 3vw;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-toggle {
    display: none;
  }

  nav {
    display: inline;
    width: auto;
  }

  .nav-list {
    display: inline;
  }

  .nav-button {
    display: inline;
    font-size: 2.5vw;
    margin: 0.5vw;
  }

  .dropdown {
    width: 38vw;
    height: 10vw;
    top: 7vw;
  }

  .new-booking {
    padding: 0 2vw;
    font-size: 2vw;
  }

  input,
  select {
    margin: 2vw;
  }

  .type-filter {
    display: flex;
    align-items: center;
  }

  .submit {
    font-size: 2vw;
    padding: 1.5vw;
    margin: 0 40vw;
  }
}

@media screen and (min-width: 900px) {

  header {
    min-height: 14vw;
    padding: 1em 2em 2em 2em;
  }

  h1 {
    font-size: 3.5vw;
  }

  .user-wrapper * {
    font-size: 1.2vw;
  }

  .user-wrapper {
    margin-bottom: 2em;
  }

  .nav-button {
    font-size: 1.5vw;
  }

  h2,
  h3 {
    font-size: 2vw;
  }

  .single-booking {
    width: 20vw;
    font-size: 1.2vw;
    height: 10vw;
    padding: 1vw;
    margin: 1vw;
  }

  .list-icon {
    font-size: 4vw;
    margin-right: 2vw;
  }

  .new-booking {
    font-size: 1.5vw;
  }

  .submit {
    font-size: 1.5vw;
    padding: 1vw;
    margin: 0vw 40vw;
  }

  .availability-container article {
    height: 25vw;
    width: 20vw;
  }

  .image-wrapper {
    height: 11vw;
  }

  .more-info {
    font-size: 3vw;
  }

  .image-overlay {
    height: 11vw;
    padding: 1.5vw;
  }

  .name-text {
    font-size: 1.5vw;
    margin: 0;
  }

  .info-text {
    font-size: 1vw;
    margin-bottom: 0.5em;
  }
}
